<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE 341 | Christopher Harper | BYU-Idaho </title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/small.css">
  <link rel="stylesheet" href="css/middle.css">
</head>

<body>

  <main>
<div class="cartView">
  <h1>Your order has been added:</h1>
<p class="price"><%= guitar %></p>
<p class="price">$<%= price %></p>

  </div>
    </main>

</body>

</html>
