<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE 341 | Christopher Harper | BYU-Idaho </title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/small.css">
  <link rel="stylesheet" href="css/middle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>


  <main>
<div class="cartView">
  <h1>Customer Order:</h1>

  <div class="flex">
    
  </div>

  <p class="price" id="allOrders"></p>
      <% if(info.length > 0) { %>
      <% for(var i = 0; i < info.length; i++) { %>
        <div class="cartView">
          <h2>Order: <%= info[i].orderid %></h2>
          <p class="price">Item: <%= info[i].guitarname %></p>
          <p class="price">Price: $<%= info[i].price %></p>
          <form action="deleteOrder" method="post">
          <input type="hidden" name="orderid" value="<%= info[i].orderid %>">
          <input id="button" class="button" type="submit" value="Delete Order">
          </form>
      </div>
        <% } %>
        <% } else { %>
          <div class="cartView">
            <p class="price" id="allOrders">Empty</p>
          </div>
        <% } %>
    </main>

</body>

</html>
