body {
    margin: 1rem;
}

img {
    width: 100%;
    max-width: 500px;
    height: 600px;
    box-shadow: 5px 5px 7px grey;
    border-radius: .5rem;
}

.flex {
    display: block;
}

.guitarOne, .guitarTwo, .guitarThree, .guitarFour, .guitarFive, .guitarSix {
    padding: .5rem;
    text-align: center;
}

.price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.priceButton {
    text-align: center;
}

.button {
    border-radius: .5rem;
    background: lightskyblue;
}

a {
    text-decoration: none;
    border: 1px solid black;
    background: lightskyblue;
    color: black;
    padding: .5rem;
    border-radius: .5rem;
    margin: .3rem;
}

.cartLink {
    text-align: center;
    margin: 1rem;
}

.cartView {
    width: 60%;
    color:white;
    background: black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px grey;
    margin: 0 0 1rem 0;
    border: 3px solid lightskyblue;
}

h1, h2 {
    color: lightskyblue;
}

input {
  border-radius: 1rem;
}

.h2Shadow {
    text-shadow: 1px 1px 1px black;
}

.center {
    margin: auto;
}

input {
    padding: .4rem;
}

.form_button {
    background-color: lightskyblue;
}

.formErrorMessage {
    color: red;
}